


  
  .accordion__question {
    position: relative;
    display: block;
    width: 1040px;
    height: 40px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    left: 203px;
    flex-grow: 0;
  }
  .accordion__answer {
    position: relative;
    width: 745px;
    height: 102px;
    
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    /* top: 43px; */
    color: #FFFFFF;
    opacity: 0.5;
    position: relative;
    flex: none;
    order: 1;
    flex-grow: 0;
    top: 8px;
  }
.addbutton{
  left: 40px;
    position: relative;
    height: 20px;
}

.Divider{
  position: relative;
  width: 769px;
height: 0px;
opacity: 0.2;
border: 1px solid #999999;
flex: none;
order: 2;
flex-grow: 0;
top: 70px;
}
  
  
  