@config "./../../tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Epilogue';
  src: url('/Epilogue/static/Epilogue-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: normal;

}

@font-face {
  font-family: 'Epilogue Bold';
  src: url('../../public/Epilogue/static/Epilogue-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: normal;
}

@font-face {
  font-family: 'Epilogue Extra Bold';
  src: url('../../public/Epilogue/static/Epilogue-ExtraBold.ttf');
  font-weight: 900;
  font-style: normal;
  font-display: normal;

}

body {
  position: absolute;
  /* width: 100%; */
  font-family: 'Epilogue';
  background: #1e1e1e;
}