@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  width: 100vw;
  height: 7400px;
  font-family: 'Epilogue';
  background: #1e1e1e;
}

@font-face {
  font-family: 'Epilogue';
  src: url('../public/Epilogue/static/Epilogue-Medium.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: normal;

}