.logo {
  position: absolute;
  left: 45vw;
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.addbutton{
  left: 40px;
  display: inline;
    position: relative;
    height: 20px;
}
.menu {
  padding: 0px;
  position: absolute;
  left: 83rem;
  top: 30px;
  gap: 18px;
  width: 106px;
  height: 34px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tittle {
  position: absolute;
  width: 1168.47px;
  height: 270.03px;
  left: 150px;
  top: 260.97px;

}

.one {
  width: 286px;
  height: 105.8px;
  left: 100px;
  top: 294.94px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 300;
  font-size: 90px;
  line-height: 106px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.maskgroup {
  position: absolute;
  width: 432.48px;
  height: 121.8px;
  left: 344px;
  top: 0px;
  display: flex;
}

.two {
  position: absolute;
  width: 521px;
  height: 105.8px;
  left: 747.47px;
  top: 0px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 900;
  font-size: 100px;
  line-height: 106px;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  color: #E6875F;
}

.three {
  position: absolute;
  width: 877px;
  height: 105.8px;
  left: 40px;
  top: 142.2px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 300;
  font-size: 90px;
  line-height: 106px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.btn {
  width: 282px;
  height: 86.84px;
  left: 910px;
  top: 30px;
}

.talk {
  width: 106px;
  height: 25px;
  display: flex;
  align-items: flex-end;
  color: #FFFFFF;
  position: relative;
  left: 68px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.arrow {
  width: 23.68px;
  height: 11.32px;
  position: absolute;
  bottom: 35px;
  left: 180px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.explore {
  position: absolute;
  width: 140px;
  height: 151px;
  left: 0px;
  top: 290px;
}

.explore {
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.solidot {
  position: absolute;
  width: 100vw;
  height: 825px;
  top: 54rem;
  background: #F7FFFF;
}

.cutpiece {
  width: 0;
  height: 0;
  border-top: 100px solid #1e1e1e;
  border-right: 100vw solid transparent;
}

.circlebutton {
  box-sizing: border-box;
  position: absolute;
  top: -3rem;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 100px 100px 100px 100px;
  border: 1px solid #000000;
}

.circlebutton:hover {
  background: #E6875F;
  color: #FFFFFF;
  border: hidden;
}

.moree {
  position: absolute;
  left: 23.43%;
  right: 18.43%;
  top: 39.22%;
  bottom: 39.22%;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 19.9159px;
  line-height: 41px;
  text-transform: uppercase;
}

.seconddiv {
  position: absolute;
  width: 1440px;
  height: 825px;
  left: 50px;
  top: 8px;
}

.videos {
  position: relative;
  height: 120px !important;
  width: 350px !important;
  top: -20px;
  border-radius: 10px;
  object-fit: cover;
}
.headings {
  width: 440px;
  height: 78px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 78px;
  text-align: center;
  color: #E6875F;
  flex: none;
  order: 0;
  flex-grow: 0;
  left: 35rem;
  position: absolute;
  top: 140px;
}

.description {
  display: block;
  position: absolute;
  width: 990.39px;
  height: 312px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 55 0;
  font-size: 56px;
  line-height: 78px;
  text-align: center;
  color: #1A1A1A;
  flex: none;
  order: 0;
  flex-grow: 0;
  top: 250px;
  left: 267px;
}

.desc {
  position: absolute;
  width: 710px;
  height: 54px;
  font-family:sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  top: 37rem;
  left: 410px;
  text-align: center;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.descone {
  position: absolute;
  top: 42rem;
  left: 519px;
  width: 83px;
  height: 21px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #E6875F;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.desctwo {
  position: absolute;
  top: 42rem;
  left: 719px;
  width: 89px;
  height: 21px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #E6875F;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.descthree {
  position: absolute;
  top: 42rem;
  left: 919px;
  width: 101px;
  height: 21px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #E6875F;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.designing {
  position: absolute;
  width: 100vw;
  height: 2057px;
  left: 0px;
  top: 1678px;
  background: #F7FFFF;
}

.textfour {
  font-style: 'epilogue';
  font-weight: 800;
  font-size: 130px;
  color: #E6875F;



}

.textfive {
  font-style: 'epilogue';
  font-weight: 800;
  font-size: 130px;
  color: white;
  text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;

}

/* .gorilla:hover{
  src: url(../public/one.jpeg);
  cursor: pointer;
} */
.divimages {
  position: absolute;
  width: 1120.43px;
  height: 1241.16px;
  left: 200px;
  top: 384.84px;
}

.nameone {
  position: absolute;
  margin-top: 83%;
  width: 105px;
  height: 42px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 900;
  font-size: 23.9159px;
  line-height: 41px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}


/* .accordion {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 120px;
 align-items: center;
 justify-content: center;
  position: relative;
  width: 769px;
  height: 724px;
  left: 206px;
  top: 1990px;
  

} */
.Fragments {
  position: relative;
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 70%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  top: 1900px;
  left: 206px;

}

.accordion__question {
  position: relative;
  display:flex;
  width: 1040px;
  height: 120px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  left: 0px;
  flex-grow: 0;
  
}
.accordion__question:hover{
  color: rgb(128, 128, 128);
}
.accordion__answer {
  position: relative;
  width: 1030px;
  height: 102px;
  
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  /* top: 43px; */
  color: #858484;
  opacity: 0.1;
  position: relative;
  flex: none;
  order: 1;
  flex-grow: 0;
  top: 8px;
}


.numberone {
  width: 631px;
  height: 49px;

  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 49px;
  text-transform: capitalize;
  color: #FFFFFF;
  flex: none;
  /* order: 0;
  flex-grow: 0; */
}

.nameonedesc {
  position: absolute;
  margin-top: 90%;
  width: 200px;
  height: 42px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 19.9299px;
  line-height: 41px;
  color: #000000;
  opacity: 0.5;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.nametwo {
  position: absolute;
  margin-top: 38%;
  margin-left: 40rem;
  width: 114px;
  height: 42px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 900;
  font-size: 23.9159px;
  line-height: 41px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.nametwodesc {
  position: absolute;
  margin-top: 70%;
  margin-left: 40rem;
  width: 170px;
  height: 42px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 19.9299px;
  line-height: 41px;
  color: #000000;
  opacity: 0.5;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.namethree {
  width: 95px;
  height: 42px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 900;
  font-size: 23.9159px;
  line-height: 41px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.namethreedesc {
  width: 200px;
  height: 42px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 13.9299px;
  line-height: 41px;
  color: #000000;
  opacity: 0.5;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.namefour {
  width: 156px;
  height: 42px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 900;
  font-size: 23.9159px;
  line-height: 41px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.namefourdesc {
  width: 200px;
  height: 42px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 13.9299px;
  line-height: 41px;
  color: #000000;
  opacity: 0.5;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.firstone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 47.35px;
  position: absolute;
  width: 477.05px;
  height: 503.42px;
  left: 0px;
  top: 0px;
  overflow: hidden;
  position: relative;
  display: inline-block;
cursor: pointer;
}
.innerdiv{
  position: relative;
  height: 360px;
  width: 480px;
  overflow: hidden;
}
.imgdiv{
  position: relative;
  height: 360px;
  width: 480px;
  background-image: url(../public/imageone.svg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  overflow-y: hidden;

}

.firstone:hover .imgdiv,
.firstone:focus .imgdiv {
  transition: all .5s;
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  color: #E5875F;
}
.firstone:hover>:nth-child(1){
  color: #E5875F;
  text-decoration: underline;
}
.secondone:hover>:nth-child(1){
  color: #E5875F;
  text-decoration: underline;
}
.thirdone:hover>:nth-child(1){
  color: #E5875F;
  text-decoration: underline;
}
.fourthone:hover>:nth-child(1){
  color: #E5875F;
  text-decoration: underline;
}

.secondone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 47.35px;
  position: absolute;
  width: 477.05px;
  height: 503.42px;
  overflow: hidden;
  display: inline-block;
cursor: pointer;
height: 503.42px;
left: 642.17px;
top: 130px;
}
.innerdivss{
  position: relative;
  height: 360px;
  width: 480px;
  overflow: hidden;
}
.imgdivss{
  position: relative;
  height: 360px;
  width: 480px;
  background-image: url(../public/imagetwo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  /* transform: scale(1.2) !important; */


}

.secondone:hover .imgdivss,
.secondone:focus .imgdivss {
  transition: all .5s;
  transform:  rotate(-15deg) scale(1.29);
  transform: rotate(-15deg) scale(1.29);
  -ms-transform: rotate(-15deg) scale(1.29);
  -moz-transform: rotate(-15deg) scale(1.29);
  -webkit-transform: rotate(-15deg) scale(1.29);
  -o-transform: rotate(-15deg) scale(1.29); 
  

}
.thirdone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 47.35px;
  position: absolute;
  width: 477.05px;
  height: 503.42px;
  overflow: hidden;
  display: inline-block;
cursor: pointer;
height: 503.42px;
left: 0px;
top: 625.27px;
}
.innerdivsss{
  position: relative;
  height: 360px;
  width: 480px;
  overflow: hidden;
}
.imgdivsss{
  position: relative;
  height: 360px;
  width: 480px;
  background-image: url(../public/imagethree.svg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.thirdone:hover .imgdivsss,
.thirdone:focus .imgdivsss {
  transition: all .5s;
  transform:  rotate(-15deg) scale(1.3);
  transform: rotate(-15deg) scale(1.3);
  -ms-transform: rotate(-15deg) scale(1.3);
  -moz-transform: rotate(-15deg) scale(1.3);
  -webkit-transform: rotate(-15deg) scale(1.3);
  -o-transform: rotate(-15deg) scale(1.3); 
}
.fourthone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 47.35px;
  position: absolute;
  width: 477.05px;
  height: 503.42px;
  overflow: hidden;
  display: inline-block;
cursor: pointer;
left: 641px;
  top: 800px;
}
.innerdivs{
  position: relative;
  height: 360px;
  width: 480px;
  overflow: hidden;
}
.imgdivs{
  position: relative;
  height: 360px;
  width: 480px;
  background-image: url(../public/imagefour.svg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  overflow-y: hidden;

}

.fourthone:hover .imgdivs,
.fourthone:focus .imgdivs {
  transition: all .5s;
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  color: #E5875F;
}

.button {
  position: absolute;
  left: 641px;
  top: 114rem;
}

.harry {
  position: absolute;
  width: 100vw;
  height: 1709px;
  left: 0px;
  top: 3835px;
}

.branding {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 80px;
  position: absolute;
  width: 1182px;
  height: 341.93px;
  left: 244px;
  top: 0px;
}

.defination {
  width: 239px;
  height: 50px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 41px;
  text-transform: capitalize;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.brands {
  width: 126px;
  height: 29px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 6rem;
  text-transform: capitalize;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}


.social {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: capitalize;
  display: block;
  color: #FFFFFF;
  width: 99px;
  height: 44px;
  line-height: 1px;
  width: max-content;
}

.firstpart {
  height: 11rem;
  position: absolute;
  top: 12rem;
}

.secondpart {
  height: 11rem;
  position: absolute;
  top: 8rem;
  left: 300px;
  line-height: 3rem;
}

.thirdpart {
  height: 11rem;
  position: absolute;
  top: 8rem;
  left: 600px;
}

.fourthpart {
  height: 11rem;
  position: absolute;
  top: 8rem;
  left: 900px;
}

.group23 {
  position: absolute;
  top: 40rem;
  width: 100vw;
}

.trustedby {
  position: absolute;
  top: 100rem;
  left: 16rem;

}

.content {
  display: flex;
  position: relative;
  align-items: center;
  top: -9rem;
  justify-content: center;
  gap: 0px;
  left: 0px;
}



.addbutton {
  /* display: flex; */
  color: #FFFFFF;
  left: 300px;
  /* position: relative; */
  position: relative;
  display: inline;
  /* left: 100px; */
}



.footer {
  position: absolute;
  width: 1436px;
  height: 529px;
  left: 46px;
  top: 6840px;
  border-radius: 20px;
  background-color: #E5875F;
}

.maincomponent {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 426px;
  position: absolute;
  width: 1240.15px;
  height: 319.25px;
  left: 99.92px;
  top: 105px;
}

.secondcomponent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  width: 512.11px;
  height: 319px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footerheadingone {
  width: 398px;
  height: 18px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #1A1A1A;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footerheadingtwo {
  width: 512.11px;
  height: 170px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  letter-spacing: 0.03em;
  color: #1A1A1A;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.bton {
  width: 282px;
  height: 86.84px;
  top: 240.2px;
}

.thirdcomponent {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 302.05px;
  height: 240px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.components {
  display: flex;
  position: absolute;
}

.componentII {
  position: relative;
  left: 10rem;
}

.componenIII {
  position: absolute;
  left: 25rem;
}

.componentIIIV {
  position: relative;
  left: 10rem;
  top: -8rem;
}

.framemenu {
  position: fixed;
  width: 100vw;
  left: 0px;
  top: 0px;
  z-index: 1;

}

.menuframe {
  position: absolute;
  left: 82rem;
  top: 2rem;
  padding: 0px;
  gap: 18px;
  width: 115px;
  height: 40px;
  z-index: 1;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.firstdivs {
  position: relative;
  top: 30rem;
  padding: 0px;
  left: 3rem;
  gap: 67.5px;
  width: 351px;
  height: 250px;
  z-index: 1;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.leftheading {
  width: 194px;
  height: 15px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: #E6875F;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.leftheadingone {
  width: 351px;
  height: 47px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  letter-spacing: -0.05em;
  color: #1A1A1A;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.leftheadingtwo {
  width: 230px;
  height: 47px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  top: 5rem;
  position: absolute;
  left: 0rem;
  letter-spacing: -0.05em;
  color: #1A1A1A;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.baa {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  top: 10rem;
  position: absolute;

}

.topslide {
  position: fixed;
  background: #1e1e1e;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;

}

.divthree {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 460px;
  height: 460px;
  position: absolute;
  top: -18rem;
  left: 50rem;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.spanone {
  width: 450px;
  height: 98px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 130%;
  letter-spacing: -0.05em;
  color: #1A1A1A;
  flex: none;
  order: 4;
  flex-grow: 0;
}
