


  
  .accordion__question {
    display: flex;
    width: 1040px;
    height: 40px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .accordion__answer {
    width: 745px;
    height: 102px;
    
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    left: 150px;
    color: #FFFFFF;
    opacity: 0.5;
    position: relative;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
.addbutton{
  left: 40px;
    position: relative;
    height: 20px;
}

  
  
  